.video {
  background-color: $color-gray-light;
  padding-bottom: 100px;
  &__container iframe {
    height: 600px;
    width: 100%;
    border: none;
  }
}

@mixin video_container($pb, $h) {
  padding-bottom: $pb;
  .video__container iframe {
    height: $h;
  }
}

@media (max-width: $breakpoint-xlarge) {
  .video {
    @include video_container(90px, 550px);
  }
}

@media (max-width: $breakpoint-large) {
  .video {
    @include video_container(80px, 480px);
  }
}

@media (max-width: $breakpoint-medium) {
  .video {
    @include video_container(65px, 350px);
  }
}

@media (max-width: $breakpoint-small) {
  .video {
    @include video_container(50px, 280px);
  }
}
